/*悬浮底部按钮*/
.fix-div{
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    padding-top: 10px;
    background: #F6F9FE;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
    left: 0;
    top: 30px
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label{
    padding-right: 0px;
    padding-left: 35px;
}

.mui-content, body, html{
    height: 100%;
}
.mui-content{
    padding-bottom: 65px;
}
.mui-control-content{
    /*padding-bottom: 65px;*/
    height: 100%;
}
.mui-control-content .mui-content {
    padding-bottom: 0 !important;
}

/*资讯*/
.mui-table-view-chevron .mui-table-view-cell{
    padding-right: 15px;
}
.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after, .mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before{
    height: 1px !important;
    background: #E1E1E1 !important;
}
.mui-table-view .mui-media-object{
    max-width: 130px;
    height: 90px;
    border-radius: 6px;
    background-size: cover !important;
    width: 100%;
}

.list-title{
    font-size: 14px;
    color: #000000;
    margin-bottom: 6px !important;
    white-space: initial;
    text-overflow:ellipsis;
    height: 70px;
    width: 100%;
    overflow:hidden;
}
.list-title p{
    color: #000000;
}
.mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn){
    margin-right: -15px;
}
.list-num{
    position: absolute;
    bottom: -5px;
}

.list-num img{
    width: 16px !important;
    position: relative;
    top: -3px;
}

.list-num .num{
    color: #2E75B5;
}

.num-title{
    position: relative;
    top: -4px;
    font-size: 12px;
}

.collect-num{
    position: absolute;
    right: 15px;
    bottom: -1px;
    color: #999999;
    font-size: 12px;
}
.collect-num span{
    color: red;
    margin-right: 3px;
}

.mui-table-view:before, .mui-table-view:after{
    height: 0;
}
#informationList{
    border-radius: 10px;
}
/*********************************首页**********************************/
