.div-icon{
	padding-top: 100px;
	text-align: center;
}
.div-icon img{
	width: 60px;
}
.title{
	font-size: 14px;
	font-weight:600;
	color: #000000;
	margin: 10px 0;
}
.hint{
	color: #000000;
}
.return-btn {
	padding: 10px;
	border-radius: 6px;
	color: #FFF;
	border-color: #2E75B5;
	box-shadow: 0px 2px 6px 0px #2E75B5;
	background: #2E75B5;
	width: 120px;
	text-align: center;
}

.return-btn:active,
.return-btn:focus {
	background: #2E75B5 !important;
	border-color: #2E75B5 !important;
}

.yellow-btn{
	padding: 10px;
	border-radius: 6px;
	color: #FFF;
	border-color: #F7C03E;
	box-shadow: 0px 2px 6px 0px #F7C03E;
	background: #F7C03E;
	width: 120px;
	text-align: center;
}

.yellow-btn:active,
.yellow-btn:focus {
	background: #F7C03E !important;
	border-color: #F7C03E !important;
}